#bodyTech {
  @include background("../../images/background-technology.jpg", center);
  background-size: cover;
  color: #fff;
}

.tech {
  margin-bottom: 5rem;

  #title {
    font-weight: 100;
    font-size: 1.75rem;
    text-transform: uppercase;
    word-spacing: 5px;
    letter-spacing: 4px;
    padding: 20px 0 80px 50px;

    span {
      font-weight: bold;
      font-weight: 600;
      padding-right: 5px;
      color: $primaryColor;
      opacity: 0.4;
    }
  }

  & > div {
    @include flex(space-between, flex-start);
  }

  .info {
    @include flex(center, center);
    padding-left: 50px;

    ul {
      list-style-type: none;
      margin-right: 4rem;

      li {
        width: 70px;
        height: 70px;
        border: 2px solid $primaryColor;
        font-family: $secondaryFont;
        border-radius: 50%;
        font-size: 2rem;
        @include flex(center, center);
        margin-bottom: 60px;
        cursor: pointer;
        transition: all 500ms ease;

        &.current {
          background-color: #fff;
          color: #000;
        }

        &:hover:not(.current) {
          background-color: #696969;
        }
      }
    }

    h1 {
      font-family: $secondaryFont;
      font-size: 3.5rem;
      font-weight: 100;
      text-transform: uppercase;
      padding: 20px 0;
    }

    h2 {
      font-size: 1rem;
      font-weight: 300;
      color: $primaryColor;
      text-transform: uppercase;
      letter-spacing: 4px;
    }

    p {
      color: $primaryColor;
      opacity: 0.8;
      font-size: 1.5rem;
      max-width: 450px;
      line-height: 2rem;
      font-weight: 300;
    }
  }

  #techImg {
    height: 500px;
    margin-top: -5rem;
  }
}
